<h1>회원가입</h1>
<form action="/register">
  이름 : <input type="text" name="name"><br>
  이메일 : <input type="text" name="email"> <br>
  비밀번호 : <input type="password" name="password"> <br>
  자기소개 : <input type="textarea" name="story"><br>
  <input type="submit">
</form>
